<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Control.Reactive" version="4.1.0" targetFramework="net471" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net471" />
  <package id="FSharp.Data" version="3.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net471" />
</packages>