<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net471" />
  <package id="FSharp.Control.Reactive" version="4.1.0" targetFramework="net471" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net471" />
  <package id="FSharp.Data" version="3.0.0" targetFramework="net471" />
  <package id="FSharp.Interop.Dynamic" version="4.0.3.130" targetFramework="net471" />
  <package id="Microsoft.AspNet.Cors" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.3.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.3.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Cors" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Diagnostics" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.FileSystems" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Hosting" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.SelfHost" version="4.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin.StaticFiles" version="4.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="PCSC" version="4.0.1" targetFramework="net471" />
  <package id="PCSC.Iso7816" version="4.0.1" targetFramework="net471" />
  <package id="PCSC.Reactive" version="4.0.1" targetFramework="net471" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net471" />
  <package id="System.Reactive.Interfaces" version="4.1.2" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
</packages>